body > .container {
  padding-bottom: 60px;
}

nav {
  margin-bottom: 40px;
}

nav .nav-wrapper .brand-logo,
nav #menu {
    padding-left: 15px;
}

#mobileMenu li {
  padding-left: 0;
  padding-right: 0;
}

tr > td {
  vertical-align: top;
}

.material-placeholder {
  max-width: 250px;
  max-height: 250px;
}

.materialboxed {
  max-width: 250px;
  max-height: 250px;
  margin-left: auto;
  margin-right: auto;
}

.materialboxed.active {
  max-width: none;
  max-height: none;
}

.profileImageNav {
  margin-right: 5px;
  max-width: 20px;
  max-height: 20px;
}

.profileImage {
  max-width: 30px;
  max-height: 30px;
}

.userImageLarge {
  max-width: 200px;
  max-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}